header li {
    color: red;
    list-style: none;
}

main li {
    background-color: blue;
    color: white;
}

#titulo-principal {
    font-size: 38px;
}

h2 {
    font-size: 28px;
}

/*En este caso se aplica al título principal el tamaño de letra 38 ya que el selector por ID es mucho mas específico que por etiqueta*/